.footer_container {
    max-width: 1007px;
    color: #e2e2e2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    background: #101010;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 779px) {
    .footer_container {
        height: auto;
    }
}

@media (min-width: 780px) and (max-width: 999px) {
    .footer_container {
        height: 350px;
    }
}

.footer-head {
    height: 78px;
    width: 100%;
    background: #404040;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 11%;
    padding-right: 8%;
}

@media (max-width: 779px) {
    .footer-head {
        height: 40px;
    }
}

@media (min-width: 780px) and (max-width: 999px) {
    .footer-head {
        height: 50px;
    }
}

.f-icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 32%;
}

@media (max-width: 779px) {
    .f-icons {
        display: none;
        width: 320px;
    }
}

.f-icon {
    width: 57px;
    height: 64px;
    background-size: 100%;
}

@media (max-width: 779px) {
    .f-icon {
        height: 45px;
        width: 45px;
        background-position: center;
        background-size: 75%;
    }
}

@media (min-width: 780px) and (max-width: 999px) {
    .f-icon {
        height: 45px;
        width: 45px;
        background-position: center !important;
        background-size: 75% !important;
    }
}

.confirm {
    background: url("../image/baxConf.png") 100% no-repeat;
}

.deliver {
    background: url("../image/boxDel.png") 100% no-repeat;
}

.mon {
    background: url("../image/boxMon.png") 100% no-repeat;
}

.footer-icon-text {
    width: 70%;
    margin-left: 10px;
}

@media (max-width: 779px) {
    .footer-icon-text {
        display: none;
    }
}

.footer-top-text {
    font-size: 14px;
    margin: 5px 0 5px 14px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
}

@media (max-width: 779px) {
    .footer-top-text {
        font-size: 10px;
    }
}

.footer-bot-text {
    max-height: 30px;
    margin: 0px 0px 0px 14px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
}

@media (min-width: 780px) and (max-width: 999px) {
    .footer-bot-text {
        display: none;
    }
}

.footer-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-left: 11%;
    padding-top: 60px;
    margin-bottom: 44px;
}

@media (max-width: 779px) {
    .footer-main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 10px;
    }
}

@media (min-width: 780px) and (max-width: 999px) {
    .footer-main {
        padding-top: 0px;
    }
}

.footer-main-left {
    width: 31%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (max-width: 779px) {
    .footer-main-left {
        width: 90%;
    }
}

.footer-main-logo {
    width: 246px;
    height: 62px;
    margin-bottom: 3px;
    background: url("../image/logo.png") no-repeat center;
    background-size: cover;
}

@media (max-width: 779px) {
    .footer-main-logo {
        width: 40%;
        background-size: contain;
        position: absolute;
        right: 10%;
        max-height: 35px;
    }
}

@media (min-width: 780px) and (max-width: 999px) {
    .footer-main-logo {
        width: 200px;
        height: 50px;
    }
}

.head {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

@media (max-width: 779px) {
    .head {
        font-size: 15px;
    }
}

.footer-au-text {
    font-size: 12px;
    height: 120px;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
    font-weight: 300;
    line-height: 18px;
}

@media (max-width: 779px) {
    .footer-au-text {
        font-size: 15px;
    }
}

@media (min-width: 780px) and (max-width: 999px) {
    .footer-au-text {
        font-size: 10px;
    }
}

.footer-main-center {
    width: 21%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
}

@media (max-width: 779px) {
    .footer-main-center {
        display: none;
    }
}

.footer-main-center-head {
    margin-top: 7px;
    margin-bottom: 20px;
}

.footer-main-center-links {
    color: #e2e2e2;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 11px;
}

@media (min-width: 780px) and (max-width: 999px) {
    .footer-main-center-links {
        margin-top: 5px;
        font-size: 15px;
    }
}

.footer-main-center-links:hover {
    color: #e2e2e2;
    text-decoration: underline !important;
}

.footer-main-right {
    width: 31%;
    padding: 2px 2px 2px 20px;
}

@media (max-width: 779px) {
    .footer-main-right {
        width: 90%;
    }
}

.footer-newsletter {
    margin-top: 4px;
}

.footer-newsletter-tex {
    font-size: 12px;
    height: 36px;
    width: 230px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
}

.footer-newsletter-form {
    height: 25px;
    width: 235px;
    background: black;
    color: #e2e2e2;
    padding-left: 10px;
    border: 1px solid #404040;
}

.footer-newsletter-button {
    width: 103px;
    height: 29px;
    border: 1px solid #39b54a;
    background: #39b54a;
    color: #e2e2e2;
    margin-left: 3px;
    margin-top: 8px;
    margin-bottom: 10px;
}

@media (max-width: 779px) {
    .footer-newsletter-button {
        margin-left: 30%;
        margin-bottom: 5px;
    }
}

.footer-contacts-head {
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.footer-contacts-phone {
    width: 110px;
    height: 30px;
    font-size: 12px;
    margin: 0px;
    font-weight: 300;
    line-height: 18px;
}

@media (max-width: 779px) {
    .footer-contacts-phone {
        width: 90%;
        font-size: 16px;
        text-align: center;
    }
}

@media (min-width: 780px) and (max-width: 999px) {
    .footer-contacts-phone {
        width: 100%;
    }
}

.footer-main-social {
    margin-top: 22px;
    width: 40px;
    height: 200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../image/social.png") no-repeat;
}

@media (max-width: 779px) {
    .footer-main-social {
        width: 90%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        background: #b7b7b7;
        height: 50px;
    }
}

.social {
    width: 20px;
    height: 40px;
    background: no-repeat center;
}

@media (max-width: 779px) {
    .social {
        height: 40px;
        width: 100px;
        background-size: 120%;
    }
}

.facebook {
    background: url("../image/fb.png") no-repeat center;
}

.insta {
    background: url("../image/inst.png") no-repeat center;
}

.vk {
    background: url("../image/vk.png") no-repeat center;
}

.footer-bottom {
    height: 74px;
    width: 100%;
    background: #252525;
    color: #404040;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-bottom h3 {
    margin: 6px;
    padding: 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
}
