footer {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}

.footer_container {
    width: 100%;
    color: #e2e2e2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    background: #101010;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-sizing: border-box;
}

@media (max-width: 779px) {
    .footer_container {
        height: auto;
    }
}

/*@media (min-width: 780px) and (max-width: 1023px) {*/
/*.footer_container {*/
/*height: 350px; } }*/

.footer-head {
    width: 831px;

    height: 78px;
    background: #404040;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 779px) {
    .footer-head {
        height: 80px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;

    }
}

@media (min-width: 780px) and (max-width: 1023px) {
    .footer-head {
        height: 80px;
    }
}

.f-icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 32%;
}

@media (max-width: 779px) {
    .f-icons {
        display: none;
        width: 320px;
    }

    .f-icons:nth-of-type(1) {
        display: flex;
        width: 300px;
        margin-left: 16px;
    }
}

.f-icon {
    width: 57px;
    height: 64px;
    background-size: 100%;
}

@media (max-width: 779px) {
    .f-icon {
        margin-top: 5px;
        height: 47px;
        width: 47px;
        background-position: center;
        background-size: cover;
    }

}

@media (min-width: 780px) and (max-width: 1023px) {
    .f-icon {
        height: 45px;
        width: 45px;
        background-position: center;
        background-size: 75%;
    }
}

.confirm {
    background: url("../image/baxConf.png") 100% no-repeat;
}

@media (max-width: 779px) {
    .confirm {
        background-size: contain;
    }
}

.deliver {
    background: url("../image/boxDel.png") 100% no-repeat;
}

.mon {
    background: url("../image/boxMon.png") 100% no-repeat;
}

.footer-icon-text {
    width: 70%;
    margin-left: 10px;
}

@media (max-width: 779px) {
    .footer-icon-text {
        width: 250px
    }
}

.footer-top-text {
    font-size: 14px;
    margin: 5px 0 5px 14px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
}

@media (max-width: 779px) {
    .footer-top-text {
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        text-transform: uppercase;
    }
}

.footer-bot-text {
    max-height: 30px;
    margin: 0px 0px 0px 14px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
}

@media (min-width: 780px) and (max-width: 1023px) {
    .footer-bot-text {
        font-size: 12px;
        font-weight: 300;
        line-height: 14px;
    }
}

.footer-main {
    max-width: 831px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    padding-left: 20px;
    padding-top: 60px;
    margin-bottom: 44px;
    margin-right: 30px;
}

@media (max-width: 779px) {
    .footer-main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 10px;

    }
}

@media (min-width: 780px) and (max-width: 1023px) {
    .footer-main {
        padding-top: 0px;
    }
}

.footer-main-left {
    width: 34%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 30px;
}

@media (max-width: 779px) {
    .footer-main-left {
        width: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

    }
}

.footer-main-logo {
    width: 246px;
    height: 62px;
    margin-bottom: 3px;
    background: url("../image/logo.png") no-repeat center;
    background-size: cover;
}

@media (max-width: 779px) {
    .footer-main-logo {
        width: 248px;
        height: 63px;
        border: 1px solid #8560a8;
        background-size: cover;
        margin-top: 30px;

    }
}

@media (min-width: 780px) and (max-width: 1023px) {
    .footer-main-logo {
        width: 200px;
        height: 50px;
    }
}

.head {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

@media (max-width: 779px) {
    .head {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        line-height: 18px;
        text-transform: uppercase;
    }
}

.footer-au-text {
    font-size: 12px;
    height: 127px;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
    font-weight: 300;
    line-height: 18px;
}

@media (max-width: 779px) {
    .footer-au-text {
        text-align: center;
        width: 100%;
        height: 110px;
        /*margin-left:3%;*/
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
    }
}

@media (min-width: 780px) and (max-width: 1023px) {
    .footer-au-text {
        font-size: 10px;
    }
}

.footer-main-center {
    width: 30%;
    color: #e2e2e2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
}

@media (max-width: 779px) {
    .footer-main-center {
        display: none;
    }
}

.footer-main-center-head {
    margin-top: 7px;

    margin-bottom: 20px;
}

.footer-main-center-links {
    color: #e2e2e2;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 12px;
}

@media (min-width: 780px) and (max-width: 1023px) {
    .footer-main-center-links {
        margin-top: 5px;
        font-size: 15px;
    }
}

.footer-main-center-links:hover {
    color: #e2e2e2;
    text-decoration: underline !important;
}

.footer-main-right {
    width: 31%;
    padding: 2px 0 0 0;
}

@media (max-width: 779px) {
    .footer-main-right {
        width: 100%;
    }
}

.footer-newsletter {
    margin-top: 4px;

}

@media (max-width: 779px) {
    .footer-newsletter {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

    }

    .footer-newsletter-h3 {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        line-height: 18px;
        text-transform: uppercase;
    }

}

.footer-newsletter-tex {
    font-size: 12px;
    height: 36px;
    width: 230px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
}

@media (max-width: 779px) {

    .footer-newsletter-tex {
        width: 230px;
        height: 35px;
        color: #ffffff;
        font-family: "Open Sans",sans-serif;
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
    }
}

.footer-newsletter-form {
    height: 25px;
    width: 235px;
    background: black;
    color: #e2e2e2;
    padding-left: 10px;
    border: 1px solid #404040;
}
@media (max-width: 779px) {
    .footer-newsletter-form{
        width: 247px;
        height: 29px;
    }
}
.footer-newsletter-button {
    width: 103px;
    height: 29px;
    border: 1px solid #39b54a;
    background: #39b54a;
    color: #e2e2e2;
    margin-left: 3px;
    margin-top: 8px;
    margin-bottom: 10px;
}

@media (max-width: 779px) {
    .footer-newsletter-button {
        margin-bottom: 5px;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        text-transform: uppercase;
    }
}

.footer-contacts-head {
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
@media (max-width: 779px) {
    .footer-contacts-head{
        font-size:15px;
    }
}
.footer-contacts-phone {
    width: 110px;
    height: 30px;
    font-size: 12px;
    margin: 0px;
    font-weight: 300;
    line-height: 18px;
}


@media (max-width: 779px) {
    .footer-contacts-phone {
        width: 60%;
        font-size: 16px;
        text-align: center;
    }
}

@media (min-width: 780px) and (max-width: 1023px) {
    .footer-contacts-phone {
        width: 100%;
    }
}

.footer-main-social {
    position: absolute;
    right: 0px;
    /*margin-left:109px;*/
    margin-top: 22px;
    width: 30px;
    height: 200px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../image/social.png") no-repeat;
}

@media (max-width: 779px) {
    .footer-main-social {
        position: relative;

        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        background: #b7b7b7;
        height: 50px;
    }
}

.social {
    width: 20px;
    height: 40px;
    background: no-repeat center;
}

@media (max-width: 779px) {
    .social {
        height: 40px;
        width: 100px;
        background-size: 120%;
    }
}

.facebook {
    background: url("../image/fb.png") no-repeat center;
}

.insta {
    background: url("../image/inst.png") no-repeat center;
}

.vk {
    background: url("../image/vk.png") no-repeat center;
}

.footer-bottom {
    height: 74px;
    width: 100%;
    background: #252525;
    color: #404040;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-bottom h3 {
    margin: 6px;
    padding: 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
}

.footer-head-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #404040;
}

.footer-main-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #101010;
}

.footer-bottom-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #404040;
}

/**HEADER****************************************************/
.header-panel-right {
    width: 100%;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;

}

.menu-mobile {
    display: none;
}

.input-search {
    width: 100%;
    margin-left: 20px;
}

#search_input {
    width: 200px;
    margin-right: 20px;
}

@media (max-width: 779px) {
    #search_input {
        display: none;
    }
}

#search {
    margin: 0;
    height: 35px;

}

.top-search-content {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.top-cart-content {
    width: 30%;
}

#header-wish {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #85827d !important;
}

#header-wish:hover {
    color: #e2e2e2 !important;
}

.row_header {
    height: 40px !important;
    box-sizing: border-box !important;
}

#top {
    height: 40px;
    box-sizing: border-box !important;
}

.header_section {
    display: flex !important;
    height: 40px !important;

}

#cart-total {
    width: 100%;

    display: flex !important;
    justify-content: flex-start !important;
    align-content: center !important;

}

#cart_button {
    width: 150px;

    height: 40px;
    align-content: center;
    justify-content: flex-start;
    color: #85827d !important;
}

#cart_button:hover {
    color: #e2e2e2 !important;
}

.text-top-cart {
    height: 20px;
    margin-top: 10px;

}

#wishlist-total-header {
    margin-top: 4px;
    color: #85827d !important;
    text-transform: uppercase;
}

#wishlist-total-header:hover {
    color: #e2e2e2 !important;
}

#cart-total:hover {
    color: #e2e2e2 !important;

}

.header {
    width: 100%;
    background-color: #101010;
    display: flex;
    justify-content: center !important;

}

#search .input-lg {
    height: 38px !important;
}

.logo-row {
    display: flex;
    justify-content: center;
}

.main_menu {
    background-color: #101010 !important;
    color: #e2e2e2 !important;
    height: 40px;
    box-sizing: border-box !important;
    margin: 0;
    width: 100%;
    padding-top: 0px !important;
    border: none;
}

.main_menu .container {
    height: 40px !important;
    box-sizing: border-box !important;
}

.main_menu .container .row {
    height: 40px !important;
    box-sizing: border-box !important;
}

.main_menu .container .row .col-md-12 {
    height: 40px
}

.menu_links {
    margin-top: 5px;
    width: 100%;

}

.pt_custommenu {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
}

.pt_custommenu .parentMenu:hover {
    /*border:none;*/

}

.pt_menu:last-of-type span {
    color: red !important;

}

.pt_menu:last-of-type span:hover {
    border-bottom: 3px solid red !important;

}

.pt_menu span:hover {
    border-bottom: 3px solid white !important;
}

.pt_custommenu div.popup {
    left: -100px !important;
}

.pt_menu .parentMenu a {
    color: white !important;
    /*border:none;*/
}

.popup {
    color: #101010 !important;
}

#cart .dropdown-menu {
    border: none;
}

.nav-container.fix-nav {
    display: flex !important;
    justify-content: space-around;
}

/* CENTRAL BANNER  *********************************************/
.banner7 {
    background-color: #101010 !important;

}

.slider-1 h1 {

    width: 308px;
    height: 40px;
    font-size: 72px !important;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    line-height: 45px;
    text-transform: uppercase;

}

.slider-1 .banner7-des {
    /* Style for "Work hard" */

    width: 450px;
    height: 33px;
    color: #7e7e7e;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 48px;
    text-transform: uppercase;
}

.slider-1 .sub-title {
    width: 332px;
    height: 40px;
    font-family: "Open Sans", sans-serif;
    line-height: 45px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 57px;
    font-weight: 600;

}

.slider-1 .sub-title:first-letter {
    color: #39b54a !important;
    font-size: 57px;
    font-weight: 300;
}

.banner_button {
    width: 270px;
    background-color: #39b54a !important;
    display: block;
    color: #101010 !important;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;

}

.banner_button:hover {
    color: #fff !important
}

.banner-home1 {
    border: none;
}

/**BRAND CAROUSELE***********************************************************/

.container_brands {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    background: #404040;

}

#carousel0 {
    background: #404040 !important;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-center {
    display: flex;
    justify-content: center;
}

.banner-home1 .container .row {
    display: flex;
    justify-content: center;

}

.box-col {
    width: 100%;
    height: 200px
}

.f-img-content, .f-image {
    width: 40%;
    height: 478px;
    margin-right: 20px;
}

.f-image {
    width: 380px;
    height: 500px;
}

.s-img-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 45%;
    height: 500px;

}

.central_small {
    display: flex;
    justify-content: space-between;
}

.box-col-top {

    width: 100%;
    height: 290px;
    margin-bottom: 20px;

}

#block_central_left {
    width: 100%;
}

.box-col-top a img {
    width: 100%;
    height: 290px;
    vertical-align: bottom;
    padding-bottom: 15px;
}

.central_small .box-col {
    width: 47%;
}

.banner-home1 .box-col-1 {
    margin-bottom: 5px;
}

/***slider #1*******************************************************************/
.product-tabs-container-slider .title-tab {
    display: none;
}

.slider_tab_subtitle {
    text-align: center;
    color: #304942;
    font-size: 12px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    margin: 0px;
    font-family: Montserrat, sans-serif;
    border-bottom: 1px solid #999;

}

.title-product-tabs h2 {
    background: none;
    margin: 0;
    color: #304942;
    padding-bottom: 10px;
}

.owl-theme .owl-controls .owl-buttons div {
    top: -20px;
    height: 30px;
    line-height: 25px;
    border: 1px solid #999;
    color: #999;
    content: 'next';

}

.owl-theme .owl-controls .owl-buttons div:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #999 !important;
    content: 'next';

}

ul.tabs li.active {
    display: none;
}

.tab_content .oc-box-content {
    width: 100%;
}

.btn-compare {
    display: none !important;
}

.rating {
    display: none !important;
}

.owl-next {
    content: '>';
}

.products .actions {
    top: 102%;

}

.products .actions button {
    width: 40%;
    height: 30px;
}

h2.product-name {
    text-align: start;
}

h2.product-name:hover {
    color: #39b54a;
    font-weight: 800 !important;
}

h2.product-name a:after {
    border: none;
}

.price-box {
    text-align: start;
}

.price-box span {
    color: #999 !important;
}

.products .actions button .fa, .item-inner .actions button.btn-quickview .fa {
    line-height: 30px;
}

.filter-attribute-container label {
    width: 90%;
    height: 10px;
    color: #a3a3a3;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-transform: uppercase;
    text-align: right;
}

.ui-widget-header {
    background: grey !important;
}

/*goods preview********************************************/
.left-image-block {
    height: 600px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.left-image-block .thumbnails-image {
    height: 600px !important;
}

.left-image-block .row {
    margin: 0px;
}

.thumbnails-image a.thumbnail img {
    height: 600px !important;

}

.left-image-block .row .wrapper-img-additional {
    height: 500px;
    width: 160px;
    padding: 0;
}

.left-image-block .owl-buttons {
    display: none !important;

}

.slick-slider {
    height: 500px;
    width: 120px !important;
}

.slick-arrow {
    width: 100%;
    background: #515658;
}

.slick-arrow:hover {
    background: #afafaf;
}

.zoomContainer {
    left: 150px !important;
}

/*PRISE******************************************/
.product-price h2.price, .product-price h2.price-new {
    color: #333333;
    font-family: "Open Sans", sans-serif;
    text-align: left !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/*size***************************************************************************************************/
#product .form-group div {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

/*#input-option233:first-child{*/
/*margin:0px;*/
/*}*/
#product .form-group div .radio {
    margin-top: 0px;
    margin-right: 10px;
    /*width: 10%;*/
}

#product .form-group div .radio label {
    padding-left: 10px;
    text-align: center;
}

#product .form-group div .radio label:before {
    text-align: center;
    width: 35px;
    height: 35px;
    padding: 0px;
    /*background: red;*/
    content: "";
    display: inline-block;

    /*margin-right: 10px;*/
    position: absolute;
    left: 0;
    /*bottom: 1px;*/
    /*background-color: #aaa;*/
    /*box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);*/
}

#product .form-group div .radio input[type="radio"] {
    display: none;
}

#product .form-group div .radio {

    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #252525;
    background-color: #ebebeb;
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    box-sizing: border-box;
}

#product .form-group div .radio input[type=radio]:checked + label:before {
    /*border-bottom: 5px solid #39b54a;*/
    width: 34px;
    height: 34px;
    background-color: #39b54a;
    opacity: 0.2;

}

/*categories********************************************/
.product-filter .btn-group {
    display: none;
}

#content h2 {
    text-align: center;
}

.product-layout .button-group {
    top: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.product-layout .button-group button {
    margin-top: 0px;
}

.product-layout .button-group button.btn-quickview {
    margin-top: 0px;
    order: 2;
}

.product-layout .button-group button.btn-cart {
    order: 1;
}

.product-grid .product-thumb .caption {
    height: 20px;
    padding: 0px;
    margin: 0px 20px 30px;
}

.product-grid .product-thumb .caption .product-name {
    height: 20px;
    margin: 0px;;
    display: flex;
    justify-content: flex-start;
}

.label-pro-new, .label-pro-sale {
    z-index: 0;
}

.product-layout h4.product-name a {
    text-align: left;
    color: #304942;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
}

.product-layout h4.product-name a:after {
    border: none !important;
    background: none;
}

.product-layout .caption p.price {
    text-align: left;
    color: #304942;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}

#product .form-quantity-product {
    display: none !important;
}

#product_buttons_bottom {
    display: flex !important;
    justify-content: flex-start !important;
    flex-direction: column !important;
    margin-left: 0px !important;
    width: 220px !important;
    /*height:auto;*/
}

#product_buttons_bottom button {
    margin-bottom: 10px;
    line-height: 30px;
    width: 220px !important;
    height: 40px !important;

}

/*////////////////////////////////////mobile//////////////////////////////////////////////////////////////////////////*/
@media (min-width: 300px)and (max-width: 779px) {
    /*.row_header .row_header{*/
    /*width:100%;*/
    /*}*/
    .top-account {
        display: none !important;
    }

    .header-panel-right {
        position: relative;

        width: 100%;
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: nowrap;
    }

    .header-panel-right > div {
        width: 30px;

        height: 40px;;
        position: relative;
        morgin: 0px;
        padding: 0px;
    }

    /*cart button*****************************/
    #cart, .top-cart-content, #cart_button {
        width: 40px !important;
        position: relative;

        box-sizing: border-box;
        margin: 0px;
    }

    .top-cart-content {
        width: 30px;

        position: relative;

    }

    .icon_bag_alt {
        width: 30px;
        height: 40px;
        padding: 0px !important;
        line-height: 30px;
        background: url(../image/icon-cart.png) no-repeat center !important;
    }

    #cart > button {
        padding: 0px;
    }

    .text-top-cart {
        display: none !important;

    }

    /*wish button*****************************/
    #header-wish {
        display: block;
        position: relative;

        width: 30px;
        height: 40px;
    }

    .text-top-wishlist {
        display: none;

    }

    /*search button*****************************/
    .top-search-content {
        position: relative;
        width: 30px;

        left: 0px;
        right: 0px;
    }

    #search span button {
        border-right: none !important;
    }

    #search_input {
        display: none !important;
    }

    .top-search-content {
        position: relative;
    }

    .top-search-content {
        order: 1;
        width: 40px !important;
    }

    #header-wish {
        order: 2;
        width: 40px !important;
        margin: 0px 10px;

    }

    .top-cart-content {
        order: 3;
        width: 40px !important;

    }

    /*Burger*******************************************************/
    .menu-mobile {
        width: 40px;
        height: 40px;
        display: block !important;
        position: absolute;
        top: -135px !important;
        z-index: 9999 !important;;
    }

    .main_menu {
        height: 1px !important;

    }

    #ma-mobilemenu {
        position: absolute;
        top: -100px !important;
    }

    .header-content #top {
        z-index: auto;
    }

    .pt_custommenu div.pt_menu .parentMenu a, .pt_custommenu div.pt_menu .parentMenu span.block-title {
        font-size: 10px;
    }

    .header {
        padding: 0px;
        height: 90px;
    }

    .header .container {
        height: 90px;
        display: flex;
        align-items: center;
    }

    .pt_custommenu div.pt_menu {
        display: none;
    }

    /**MAIN BANNER************************************************************************************/
    .banner7, .oc-banner7-container, .oc-nivoslider, #oc-inivoslider {
        height: 460px;
        width: 100%;
        box-sizing: border-box;
    }

    #oc-inivoslider img {
        /*width:100%;*/
        /*height: 460px;*/
        width: 460px;
    }

    .slider-1 .text-content {
        /*margin-left: -130px;;*/
    }

    .slider-1 {
        margin: -0px;
        padding: 0px;
    }

    .slider-1 .title1 {

        width: 205px;
        height: 40px;
        color: #ffffff;
        font-size: 48px !important;
        font-weight: 600;
    }

    .sub-title {
        display: flex;
        justify-content: flex-start;
        text-align: left;
    }

    .slider-1 .sub-title {
        width: 205px;
        height: 50px;
        color: #ffffff;
        font-size: 40px !important;
        font-weight: 600;
    }

    .slider-1 .sub-title:first-letter {
        font-size: 40px !important;

    }

    /*brands slider*******************************************************************************************/
    .container_brands {
        display: none;
    }

    /*.container_brands .container{*/
    /*width:100%;*/
    /*margin:0px!important;*/
    /*padding: 0px;*/
    /*}*/
    /*#carousel0{*/
    /*height:40px;*/
    /*width:100%;*/
    /*}*/
    /*#carousel0 .owl-wrapper-outer{*/
    /*display: flex;*/
    /*height:40px;*/
    /*}*/
    /*#carousel0 .owl-wrapper-outer .owl-wrapper{*/
    /*width: 100% !important;;*/
    /*display: flex!important;*/
    /*flex-direction:row!important;*/
    /*}*/
    /*.owl-carousel .owl-wrapper, .owl-carousel .owl-item{*/
    /*width: 120px!important*/
    /*;*/
    /*}*/
    /*#carousel0 .owl-wrapper{*/
    /*width:100%;*/
    /*}*/
    /**central block image***********************************************************************************************/
    .banner-home1 .container {
        padding: 0px;
        /*padding-left:5%*/
    }

    .banner-home1 .container .row {
        margin: 0px 0px 0px 5%;
        width: 90%;
        align-items: center;
        justify-content: center;

        flex-direction: column-reverse;
    }

    .banner-home1 .container .row .f-img-content {
        width: 100%;
        height: 300px;
    }

    .banner-home1 .box-col .des {
        width: 100%;
        display: none !important;
    }

    .banner-home1 .container .row .s-img-content {
        width: 100%;
    }

    .f-img-content, .f-image {
        margin: 0px;
    }

    .s-img-content .des {
        display: none;
    }

    /*slider**********************************************************************************************************/
    .products .actions {
        top: 109% !important;
    }

    .top-inner h2.product-name {
        text-align: left !important;
    }

    .owl-controls {
        display: none !important;
    }

    .title-product-tabs h2 {
        color: #304942;
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 25px;
        text-transform: uppercase;
    }

    .slider_tab_subtitle {
        color: #304942;
        font-family: "Open Sans";
        line-height: 15px;
        font-size: 12px;
        font-weight: 400;

        text-transform: uppercase;
    }

    /*CATALOGUE////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .custom-category {
        display: flex;
        flex-direction: column;

    }

    .custom-products .row {
        display: flex;
        flex-wrap: wrap;
    }

    .product-layout.product-grid.col-lg-4.col-md-4.col-sm-6.col-xs-12 {
        width: 50%;
    }

    .label-pro-new, .label-pro-sale {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .btn-quickviews, .btn-quickview {
        width: 45px !important;
    }

    .btn-quickviews span {
        display: none;
    }

    h1, h2, h3, h4 {
        font-family: "Open Sans", sans-serif;
    }
}



