<div class="banner-home1">
    <div class="container">
        <div class="row">
            <div class="f-img-content">


                <div class="box-col f-image" id="block_central_left">
                    <div class="images">
                        <a href="index.php?route=product/category&amp;path=57">
                            <img src="image/catalog/demo/img-block/cms1.jpg" alt="">
                        </a>
                    </div>

                    <div class="des big-img">

                        <h3 style="text-align: right; ">discounts</h3>
                        <h3 style="text-align: right;"> on </h3>
                        <h3 style="text-align: right;">previous</h3>
                        <h3 style="text-align: right;"> collections</h3>
                        <a class="button" href="#">SHOP now</a>
                    </div>
                </div>
            </div>


            <div class="s-img-content">






                <div class="box-col box-col-top">
                    <div class="imges">
                        <a href="index.php?route=product/category&amp;path=57">
                            <h3>ACCESSORIES</h3>
                            <img src="/image/users_images/acc.png" alt="">
                        </a>
                    </div>
                </div>



                <div class="central_small">


                    <div class="box-col box-col-1">

                        <div class="images">
                            <a href="index.php?route=product/category&amp;path=57">
                                <img src="image/catalog/demo/img-block/cms3.jpg" alt="#" style="width: 100%;">

                            </a>
                        </div>

                        <div class="des">
                            <h3>glasses1<br> For summer</h3>
                            <a href="#">SHop now</a>
                        </div>
                    </div>


                    <div class="box-col box-col-2">
                        <div class="images"><a href="index.php?route=product/category&amp;path=57"><img
                                src="image/catalog/demo/img-block/cms4.jpg" alt="#"></a></div>
                        <div class="des">
                            <h3>glasses2<br> For summer</h3>
                            <a href="#">SHop now</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

